<ion-header>
  <ion-navbar>
    <div style="height: 50px; line-height: 50px;" class="hder">
      <p><ion-icon name="ios-folder-open-outline"></ion-icon></p>
      <p>食谱</p>
      <p (click)="search()"><ion-icon name="ios-search-outline" ></ion-icon></p>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--导航栏-->
  <div class="lists">
    <ul >
      <li>午餐</li>
      <li>快手菜</li>
      <li>饮品</li>
      <li>甜品</li>
      <li>家常菜</li>
      <li>晚餐</li>
      <li>早餐</li>
      <li>烘焙</li>
      <li>中式</li>
      <li>法式</li>
      <li>油炸</li>
    </ul>
  </div>
  <!--导航栏-->
  <!--图片集-->

  <ion-list>
    <ion-item *ngFor="let i of items">
      <div>
        <ul *ngFor="let ck of allpic" class="tutu">
          <li>  <ion-card class="cards" >
            <img src="{{ck.imgurl}}">
            <ion-item >
              <p>{{ck.line_title}}</p>
            </ion-item>
            <ion-item >
              <p>{{ck.line_dtail}}</p>
            </ion-item>
            <ion-item>
              <span item-left><ion-icon name="ios-heart-outline"></ion-icon></span>
              <span item-left><ion-icon name="ios-eye-outline"></ion-icon></span>
              <span item-left>{{ck.line_num}}</span>
            </ion-item>
          </ion-card></li>
        </ul>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
