page-found {
  *{
    padding:0;
    margin:0;
  }
  .lunbo{
    width: 100%;
    height: 153px;
  }
  ion-navbar{
    position: relative;
  }
  ion-title{
    width: 150px;
    height: 100%;
    margin:0 auto;
    text-align: center;
  }
  ion-navbar h3{
    position: absolute;
    right:15px;
    top:10px;
  }
  ion-slide img{
    width: 100%;
    height: 100%;
  }
  .zhu_top1 h5{
    float: left;
    margin-left:12px;
    margin-bottom:0;
  }
  .zhu_top1 h3{
    float: left;
    font-size:16px;
    line-height:28px;
    margin-left:10px;
    margin-top:-3px;
  }
  .zhu_top1{
    width: 100%;
    height: 40px;
    margin-top: 15px;
  }
  .box{
    width: 100%;
    overflow-x: auto;

    margin-top:-10px;
  }
  .box ul{
    width: 800px;
    list-style: none;
  }
  .box ul li{
    width: 140px;
    height: 239px;
    float: left;
  }
  .box ul li a{
    text-decoration: none;
  }
  .box ul li ion-card-title{
    font-size:14px;
    font-weight: bold;
  }
  .box_2{
    width: 100%;
    overflow-x: auto;
    overflow:scroll;
  }
  .box_2 ul{
    width: 800px;
    list-style: none;
    overflow: hidden;
  }
  .box_2 ul li{
    float: left;
    margin-left: 22px;
    text-align: center;
  }
  .box_2 ul li a{
    text-decoration: none;
  }
  .box_2 ul li img{
    margin-top:10px;
    border:1px solid #B4CDCD;
    border-radius: 50%;
    width: 50%;
    height: 50px;
  }
  .box_2 ul li p{
    color: black;
  }
  .box_2 ul li div{
    margin-top:10px;
    width: 80px;
    height: 20px;
    background-color: #fd5e2f;
    margin-left:15px;
    border-radius: 10px;
    color: white;
  }
  .box_3{
    width: 100%;
    position: relative;
  }
  .box_3 ul{
    list-style: none;
    width: 100%;
    height: 500px;
    position: relative;
    margin-left:10px;
  }
  .box_3 ul li{
    float: left;
    width: 160px;
    margin:10px;
  }
  .lis{
    position: absolute;
    left:0;
    top:345px;
  }

}






