.content-header{
  position: relative;
  float: left;
}
.user{
  width:80%;
  margin:0px auto;
  border:1px solid gray;
}
.user img{
  display:block;
  max-width:100%;
  margin:auto;
  height: auto
}
