page-home-two-cai {
  *{
    margin: 0;
    padding:0;
  }
  .hd{
    padding: 0px;margin: 0;
    text-align: center;
  }
  .itt{
    display: inline-block;
    width: 90%;
  }
  .dline{
    border-bottom: 1px solid gray;
  }
  .las{
    width: 100%;
    border-bottom: 1px solid gray;
  }
  form{
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  form input{
    border-radius: 10px;
    display: inline-block;
    width: 80%;
    height: 30px;
    background-color: transparent;
    //opacity:0.2;
    border: 1px solid lightblue;
  }
  form ion-icon{
    font-size: 25px;
  }
  .cc{
    position:relative;
    z-index: 333;
    list-style: none
  }
}
