<ion-header>
  <ion-navbar>
    <div style="height: 50px; line-height: 50px;" class="hder">
      <p><ion-icon name="ios-folder-open-outline"></ion-icon></p>
      <p><span><img src="../../assets/icon/logo.png" alt=""></span></p>
      <p><ion-icon name="ios-search-outline" ></ion-icon></p>
    </div>
  </ion-navbar>
</ion-header>

<ion-content >
  <!--轮播图-->
  <ion-slides pager autoplay="5000" loop="true" class="toptu">
  <ion-slide >
    <a href=""><img src="http://pic.daydaycook.com/production/images/20170714/752358b2-3000-4db5-86db-bc2752feb66b" alt=""></a>
  </ion-slide>
  <ion-slide>
    <a href=""><img src="http://pic.daydaycook.com/production/images/20170714/de63770b-01c6-4cd1-a1a8-b78f1446c7b0" alt=""></a>
  </ion-slide>
  <ion-slide>
    <a href=""><img src="http://pic.daydaycook.com/production/images/20170714/7b0ebb5d-d805-47e9-b74e-a229551e4406" alt=""></a>
  </ion-slide>
  <ion-slide>
    <a href=""><img src="http://pic.daydaycook.com/production/images/20170714/feedbece-36a0-47b1-ac03-b0ba4455620d" alt=""></a>
  </ion-slide>
  <ion-slide>
    <a href=""><img src="http://pic.daydaycook.com/production/images/20170714/6a3fffbd-bc1d-403d-8f98-94ff53c3a879" alt=""></a>
  </ion-slide>
</ion-slides>
  <!--轮播图-->
  <!--四个小导航-->
  <ion-row text-center class="fournav">
    <ion-col col-3 >
      <a href=""><ion-icon name="ios-paper-outline"></ion-icon></a>
      <br>
      食谱分类
    </ion-col>
    <ion-col col-3>
      <a (click)="homevideo()"><ion-icon name="ios-videocam-outline"></ion-icon></a>
      <br>
      视频专区
    </ion-col>
    <ion-col col-3>
      <a href=""><ion-icon name="ios-bookmarks-outline"></ion-icon></a>
      <br>
      厨艺课堂
    </ion-col>
    <ion-col col-3>
      <a href=""><ion-icon name="ios-share-outline"></ion-icon></a>
      <br>
      厨艺分享
    </ion-col>
  </ion-row>
  <!--四个小导航-->
  <!--间隔-->
  <ion-row class="line"></ion-row>
  <!--间隔-->
  <!--每日新蔡字体-->
  <ion-row class="ziti">
      <ion-col col-9>
        &nbsp;&nbsp;&nbsp;
        <ion-icon name="ios-trophy-outline"></ion-icon>
        <span class="ziti-mei">每日新菜馆</span>
      </ion-col>
      <ion-col col-3 class="ziti-hou">
        <a (click)="goabout()">更多食谱 <ion-icon name="md-arrow-dropright"></ion-icon></a>
      </ion-col>
    </ion-row>
  <!--每日新蔡字体-->
  <!--<a (click)="go()">去</a>-->
  <!--每日新菜滑动图-->

  <div class="guntu">
    <div  style="float:left" class="fl">
      <ul *ngFor="let ck of cookarr" (click)="gohome_two_cai(ck)" >
        <li>  <ion-card class="cards" >
          <img src="{{ck.imgurl}}">
          <ion-item >
            <p>{{ck.line_title}}</p>
          </ion-item>
          <ion-item >
            <p>{{ck.line_dtail}}</p>
          </ion-item>
          <ion-item>
            <span item-left><ion-icon name="ios-heart-outline"></ion-icon></span>
            <span item-left><ion-icon name="ios-eye-outline"></ion-icon></span>
            <span item-left>{{ck.line_num}}</span>
          </ion-item>
        </ion-card></li>
      </ul>
      <div class="lat">
        更多食谱
      </div>
    </div>
  </div>
  <!--每日新菜滑动图-->
  <!--当红新蔡字体-->
  <ion-row class="ziti">
    <ion-col col-9>
      &nbsp;&nbsp;&nbsp;
      <ion-icon name="ios-trophy-outline"></ion-icon>
      <span class="ziti-mei">当红新菜</span>
    </ion-col>
    <ion-col col-3 class="ziti-hou">
      <a href="">更多食谱 <ion-icon name="md-arrow-dropright"></ion-icon></a>
    </ion-col>
  </ion-row>
  <!--当红新蔡字体-->
  <!--<a (click)="go()">去</a>-->
  <!--当红新菜滑动图-->

  <div class="guntu">
    <div  style="float:left" class="fl">
      <ul *ngFor="let ck of d_two" (click)="gohome_two_cai(ck)">
        <li>  <ion-card class="cards" >
          <img src="{{ck.imgurl}}">
          <ion-item >
            <p>{{ck.line_title}}</p>
          </ion-item>
          <ion-item >
            <p>{{ck.line_dtail}}</p>
          </ion-item>
          <ion-item>
            <span item-left><ion-icon name="ios-heart-outline"></ion-icon></span>
            <span item-left><ion-icon name="ios-eye-outline"></ion-icon></span>
            <span item-left>{{ck.line_num}}</span>
          </ion-item>
        </ion-card></li>
      </ul>
      <div class="lat">
        更多食谱
      </div>
    </div>
  </div>
  <!--当红新菜滑动图-->
  <ion-row class="ziti">
    <ion-col col-12>
      &nbsp;&nbsp;&nbsp;
      <ion-icon name="ios-trophy-outline"></ion-icon>
      <span class="ziti-mei">美食全攻略</span>
    </ion-col>
  </ion-row>
  <!--最下面图片-->
  <div *ngFor="let pic of d_morepic" class="pic" (click)="gohome_two_cai2(pic)">
    <img src="{{pic.imgurl}}" alt="">
  </div>
  <!--最下面图片-->


</ion-content>
